#footer__container {
    background: var(--gray-400);
    padding: 12px;
}

.footer-description {
    color: var(--white);
    font-size: 0.9em;
}

.name {
    color: var(--green);
    font-weight: 700;
}