@import url('./header.css');
@import url('./main.css');
@import url('./footer.css');

:root {
  --purple-light: #5a0fd7;
  --purple: #090918;
  --purple-dark: #080713;
  --gray: #AEAEAE;
  --gray-200: #171228;
  --white: #FFFFFF;
}

body, button, input, textarea, ::placeholder {
  font-family: 'Poppins', sans-serif;
}

body, a {
  color: var(--white);
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}