@import url('header.css');
@import url('main.css');
@import url('footer.css');

:root {
  --black: #292929;
  --gray: #616161;
  --white: #FBFBFB;
  --white-200: #F3F3F3;
  --red: #DA2535;

  --font-description: 'Inter', sans-serif;
  --font-title: 'Montserrat', sans-serif;
  --font-links-title: 'Poppins', sans-serif;
  --font-links: 'Roboto', sans-serif;
}

body {
  color: var(--black);
  background: var(--white);
  font-size: 16px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}