footer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  padding: 12px 30px;
  background: var(--black-light);
  color: var(--white);
}

footer p {
  text-align: center;
}

footer p a {
  color: var(--white-200);
}