@import url('./header.css');
@import url('./main.css');
@import url('./footer.css');

:root {
  --white: #F9F9F9;
  --white-200: #EBE9EA;
  --gray: #474747;
  --black-light: #181818;
  --orange: rgba(0, 0, 0, 0.1);
}

body, textarea, button, ::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

body {
  background: var(--white);
}