header {
  background: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

.menu-hamburguer-image {
  background: url('../img/menu-hamburguer.svg');
  display: inline-block;
  width: 24px;
  height: 14px;
}

.menu-list {
  list-style: none;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 50px;
  right: 20px;
  background: var(--gray-200);
}

.menu-item {
  padding: 10px;
}

#menu {
  display: none;
}

#menu:checked ~ .menu-list {
  display: block;
}





@media screen and (min-width:1280px) {
  header {
    padding: 24px 135px;
  }

  .menu-hamburguer-image {
    display: none;
  }

  .menu-list {
    background: none;
    flex-direction: row;
    color: var(--gray);
    position: static;
    display: flex;
    gap: 66px;
  }

  .menu-item {
    padding: none;
  }
}