@import url('header.css');
@import url('main.css');

:root {
  --white: #FFFFFF;
  --white-200: #F3F5F7;
  --black: #1A202C;
  --gray: #717171;
  --linear-gradient: linear-gradient(90deg, #574AE8 0%, #3EA1DB 100%);

  --fonte-principal: 'Lexend Deca', sans-serif;
  --fonte-secundaria: 'Inter', sans-serif;
}

body, button, textarea, ::placeholder {
  font-family: var(--fonte-principal);
  color: var(--black);
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}