header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 48px 20px;
  background: var(--linear-gradient);
}

.first-line {
  display: flex;
  justify-content: space-between;
  color: var(--white);
  max-width: 900px;
  width: 100%;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 900px;
  width: 100%;
}

.header-input {
  font-size: 14px;
  font-weight: 500;
  font-family: var(--fonte-secundaria);
  outline: none;
  border: none;
  width: calc(100% - (38px + 12px));
  border-radius: 5px;
  padding: 12px 12px 12px 38px;
  background: rgba(255, 255, 255, 0.2);
  background-blend-mode: overlay;
  color: var(--white);
}

.header-input::placeholder {
  color: var(--white);
}

label {
  position: absolute;
  top: 11px;
  left: 10px;
}

.lupa {
  width: 20px;
  height: 20px;
}


@media screen and (min-width: 940px) {
  .codelandia {
    font-size: 24px;
    line-height: 30px;
  }

  .blog {
    font-size: 24px;
    line-height: 30px;
  }

  .header-input {
    padding: 22px 12px 22px 64px;
    font-size: 18px;
    width: calc(100% - (64px + 12px));
  }

  .lupa {
    width: 30px;
    height: 30px;
  }

  label {
    top: 17px;
    left: 20px;
  }
}