main {
  background: var(--white-200);
}

#showcase {
  padding: 75px 20px;
}

.card-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.card-item {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  max-width: 340px;

  box-shadow: 0px 0px 20px 0px #0000001A;
}

.card-item-textgroup {
  background: var(--white);
  padding: 24px 30px 30px 30px;
}

.card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 26px;
}

.card-description {
  font-size: 18px;
  line-height: 30px;
}

.card-red {background: var(--card-red);}
.card-cyan {background: var(--card-cyan);}
.card-purple {background: var(--card-purple);}
.card-green {background: var(--card-green);}
.card-yellow {background: var(--card-yellow);}
.card-blue {background: var(--card-blue);}



#support {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--purple-light);
  padding: 80px 20px;
}

.support-title {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 36px;
}

.support-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 470px;
}

.input {
  padding: 20px 20px 20px 13px;
  margin-bottom: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  background: var(--white);
  color: var(--gray);
  font-family: var(--second-font);
  font-size: 18px;
  line-height: 22px;
  resize: none;
  margin-bottom: 20px;
}

.support-form textarea {
  margin-bottom: 45px;
}

.input::placeholder {
  color: var(--gray-200);
}



@media screen and (min-width: 1280px) {
  #showcase {
    padding: 150px 100px;
  }

  .card-list {
    column-gap: 120px;
    row-gap: 50px;
  }
}