#header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px;
}

.pc__hamburguer__list {
    display: none;
}

.logo {
    font-weight: 700;
    font-size: 14px;
}

.header__hamburguer__container input {
    display: none;
}

.header__hamburguer-image {
    width: auto;
    height: auto;
}

.hamburguer-button:checked ~ .hamburguer__list {
    display: block;
}

.hamburguer__list {
    display: none;
    padding: 10px;
    background: var(--gray-400);
    position: absolute;
    right: 20px;
    margin-top: 10px;
}

.hamburguer__list-title {
    color: var(--green);
    font-weight: 600;
    font-size: 18px;
}

.hamburguer__list-item {
    color: var(--white);
}

.hamburguer__list-title, .hamburguer__list-items {
    padding: 0.5em;
}