header {
  align-items: center;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__principal {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  color: var(--purple);
  font-size: 1.375rem;
}

.header__menu-hamburguer {
  width: 1.5rem;
  height: 1.5rem;
  background-image: url('../img/menu-hamburguer.svg');
  display: inline-block;
}

.header__checkbox {
  display: none;
}

.header__menu-hamburguer-list {
  display: none;
  position: absolute;
  right: 25px;
  flex-direction: column;
  background: var(--gray-400);
}

.header__menu-hamburguer-item, .header__menu-hamburguer-title {
  padding: 0.7rem;
}

.header__menu-hamburguer-title {
  color: var(--purple);
  font-weight: 600;
}

.header__menu-hamburguer-item a {
  color: var(--white);
}

.header__menu-hamburguer-item a:active {
  color: var(--purple);
}

.header__checkbox:checked ~ .header__menu-hamburguer-list {
  display: block;
}

.header__my-account {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0.5rem;
  color: var(--white);
  border: 1px solid #8257E6;
  border-radius: 30px;
  font-weight: 400;
  width: 100%;
}

.header-right {
  display: display;
  justify-content: center;
  flex-direction: row;
}

.header__my-account:active {
  background: var(--purple);
}

.button {
  display: none;
}


@media screen and (min-width: 1280px) {
  #header {
    padding: 30px 180px;
  }

  .header__my-account {
    width: 125px;
  }

  .mobile {
    display: none;
  }

  .header__menu-hamburguer-list {
    position: static;
  }

  .header__menu-hamburguer {
    display: none;
  }

  .header__menu-hamburguer-title {
    display: none;
  }

  .header__menu-hamburguer-list {
    flex-direction: row;
    background: none;
    gap: 60px;
  }

  .header__menu-hamburguer-item {
    padding: 0;
    text-align: center;
  }

  .menu-hamburguer-item-focus {
    border-bottom: 2px solid var(--purple);
    /* padding-bottom: 5px; */
  }
  
  .header__menu-hamburguer-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-right {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
  }



  #header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}