#recent-news__container {
  padding: 1.5rem;
}

.recent-news-title {
  font-size: 1.125rem;
  line-height: 20px;
  margin-bottom: 6px;
}

.divider {
  width: 190px;
  height: 3px;
  background: var(--purple);
  margin-bottom: 2rem;
}

.recent-news-item__container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.recent-news-image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 250px;
}

.recent-news-button {
  margin: 10px 0 0 10px;
  font-size: 0.75rem;
  color: var(--white);
  background: var(--purple);
  border-radius: 3px;
  padding: 3px;
  align-items: center;
  max-width: 70px;
  text-align: center;
}

.recent-news-image:nth-child(1) {background: url(../../public/img/home/12.png) center / cover no-repeat;}
.recent-news-image:nth-child(2) {background: url(../../public/img/home/13.png) center / cover no-repeat;}
.recent-news-image:nth-child(3) {background: url(../../public/img/home/14.png) center / cover no-repeat;}
.recent-news-image:nth-child(4) {background: url(../../public/img/home/15.png) center / cover no-repeat;}
.recent-news-image:nth-child(5) {background: url(../../public/img/home/16.png) center / cover no-repeat;}
.recent-news-image:nth-child(6) {background: url(../../public/img/home/17.png) center / cover no-repeat;}

.recent-news-description {
  font-size: 0.81rem;
  line-height: 20px;
  margin: 0 8px 8px 8px;
}

@media screen and (min-width: 1280px) {
  #recent-news__container {
    padding: 40px 180px;
  }

  .recent-news-item__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  .recent-news-item {
    width: 338px;
    height: 250px;
  }

  .recent-news-image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
