footer .logo {
  display: none;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 24px;
}

.social-list {
  display: flex;
  gap: 40px;
}

.social-item {
  width: 30px;
  height: 30px;
  background: url('../../public/img/circle.svg') no-repeat center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.social-image {
  width: 18px;
  height: 18px;
  position: absolute;
  z-index: 1;
}

@media screen and (min-width: 1280px) {
  footer .logo {
    display: flex;
    align-items: center;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 112px;
  }

  .social-item {
    width: 40px;
    height: 40px;
  }

  .social-image {
    width: 24px;
    height: 24px;
  }
}