header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: var(--pink);
  padding: 24px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.logo img {
  width: 30px;
  height: 30px;
}

.logotipo {
  font-weight: 500;
  font-size: 14px;
}

.menu-image {
  background: url('../img/menu.svg');
  display: block;
  width: 24px;
  height: 12px;
}

#menu {
  display: none;
}

#menu:checked ~ .menu-list {
  display: block;
}

.menu-list {
  display: none;
}