body {
  background: var(--white);
}

#showcase {
  padding: 40px 20px;
  background: var(--pink);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showcase-image {
  display: none;
}

.title {
  font-weight: 600;
  text-align: center;
}

.showcase-textgroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
}

.showcase-title {
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 16px;
}

.showcase-description {
  margin-bottom: 32px;
}

.button {
  background: var(--red);
  border-radius: 8px;
  color: var(--white);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  padding: 10px 0;
  width: 100%;
  align-items: center;
}

.description {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

#products {
  padding: 40px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.products-textgroup {
  display: flex;
  flex-direction: column;
  max-width: 350px;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 16px;
}

.products-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.products-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 144px;
}

.products-item-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 6px;
}

.products-item-description {
  font-size: 12px;
  line-height: 18px;
}

.products-item-image {
  width: 100px;
}

#celebrate {
  background: var(--pink);
  padding: 40px 20px;
}

.celebrate-title {
  margin-bottom: 16px;
}

.celebrate-description {
  margin-bottom: 40px;
}

.celebrate-image {
  display: none;
}



@media screen and (min-width: 1280px) {
  #showcase {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .showcase-image {
    display: block;
  }

  .showcase-title {
    text-align: start;
    font-size: 48px;
    line-height: 50px;
  }

  .showcase-description {
    text-align: start;
  }

  .showcase-textgroup {
    align-items: start;
    max-width: 450px;
  }

  .showcase-button {
    max-width: 250px;
  }


  #products {
    padding: 50px 112px 80px 112px;
  }

  .title {
    font-size: 48px;
    line-height: 72px;
  }

  .description {
    font-size: 16px;
    line-height: 24px;
  }

  .products-textgroup {
    max-width: 500px;
  }

  .products-list {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
    gap: none;
    width: 100%;
  }

  .products-item {
    height: auto;
  }

  .products-item-image {
    width: 200px;
    height: 200px;
  }

  .products-item-title {
    font-size: 20px;
    line-height: 30px;
  }

  .products-item-description {
    font-size: 16px;
    line-height: 24px;
  }

  #celebrate {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .celebrate-image {
    display: block;
  }

  .celebrate-textgroup {
    max-width: 460px;
  }

  .celebrate-title {
    text-align: left;
  }

  .celebrate-description {
    text-align: left;
  }

  .celebrate-button {
    max-width: 210px;
  }
}